.emoji {
    font-size: 100px;
}
.topMargin {
    margin-top: 100px;
}
.pagination {
display: flex;
justify-content: center;
align-items: center;
margin-top: 20px;
}
.ellipsis {
margin: 0 5px;
}
.page-number {
padding: 5px;
margin: 5px;
border-radius: 5px;
}

.page-number.current {
background-color: #0b365e;
color: white;
}

.page-number.disabled {
color: #ccc;
}
